<% if current_user?(@user) %>
  <%= form_with(model: @user, url: attendances_update_one_month_request_user_path(date: @first_day), local: true, method: :patch) do |f| %>
    <div class="form-group">
      <% @superiors.each do |superior| %>
        <% @month.each do |month| %>
          <%= fields_for "attendances[]", month do |m| %>
            <% if month.status.blank? %>
              <%= "所属長承認　#{request_status(month.status)}" %>
            <% else %>
              <%= "所属長承認　#{month.superior_name}#{request_status(month.status)}" %>
            <% end %>
            <%= m.collection_select :superior_id, @superiors, :id, :name, {include_blank: true, selected: nil}, {class: "form-control"} %>
            <%= m.hidden_field :status, value: "申請中" %>
            <%= m.hidden_field :month_request, value: @first_day %>
            <%= m.hidden_field :month_approval, value: 2 %>
            <%= m.hidden_field :month_check, value: "0" %>
          <% end %>
          <% break %>
        <% end %>
        <% break %>
      <% end %>
    </div>
    <div>
      <% @attendances.each do |day| %>
        <% if Date.today.at_end_of_month > day.worked_on %>
          <% @month.each do |month| %>
            <%= f.submit "#{request_btn_status(month.status)}", data: { confirm: "申請情報を提出しますか？" }, class: "btn btn-primary btn-block" %>
          <% break %>
        <% end %>
        <% else %>
          <%= f.submit "申請", class: "btn btn-primary btn-block", disabled: true %>
        <% end %>
        <% break %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% @month.each do |month| %>
    <% @superiors_all.each do |superior| %>
      <% if month.superior_id == superior.id %>
        <%= "所属長承認　#{month.superior_name}#{request_status(month.status)}" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
