<% provide(:title, 'Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>


<div class="content">
  <div class="header">
    <h1 class="title">全従業員一覧</h1>
  </div>
  
  <div class="col-md-3 col-md-offset-9">
    <p>ユーザー名検索</p>
      <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :name %>
      <button class="btn btn-primary btn-sm"><% f.submit :Search %>検索</button>
      <% end %>
  </div>
  
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-11">
        <%= will_paginate(@users) %>
      </div>
      
      <div class="col-md-11" "btn btn-primary">
        <%= form_tag import_users_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "従業員を追加します", class: "btn btn-primary" %>
        <% end %>
      </div>
    
      <table class="table table-condensed table-hover" id="table-users">
        <% @users.where.not(id: "1").each do |user| %>
        <thead>
          <tr>
            <th><%= user.name %></th>
          </tr>
        </thead>
          <tr>
            <td>
              <div class="collaps">
                  <a href = "#<%= user.id %> " data-toggle="collapse" class="btn btn-primary"
                  aria-expanded="false" aria-controls="collapse>">編集</a>
              </div>
            </td>
            <td>
            
                <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
            
            </td>
          </tr>
          <tr>
            <td>
              <div id="<%= user.id %>" class="collapse" >
                <div class="card card-body">
                    <div class="row">
                      <% @user = user %>
                        <%= render 'users/form', method: :patch %>
                    </div>
                  </div>
              </div>
            
            </td>
          </tr>
        <% end %>
  </table>
      <div class="col-md-11">
        <%= will_paginate(@users) %>
      </div>
    </div>
  </div>
</div>

