<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <%= form_with(model: @user,url: attendances_update_overtime_request_user_path(date:@worked_on), method: :patch, local: true) do |f| %>
          <table class="table table-bordered table-condensed table-hover" id="table-attendances">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
              </tr>
            </thead>
            <tbody>
            <% @attendances.each do |day| %>
            <%= f.fields_for "attendances[]", day do |attendance| %>

              <% css_class = 
            case $days_of_the_week[day.worked_on.wday]
            when "土"
            'text-primary'
            when "日" 
            'text-danger'
            end %>
             <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
              <td><%= attendance.time_field :end_instruction_time, class: "form-control" %></td>
              <td><%= attendance.check_box :next_day, class: "form-control" %></td>
              <td><%= attendance.text_field :reason_change, placeholder: "入力必須", class: "form-control" %></td>
              <td><%= attendance.collection_select :overtime_superior_id, @superiors, :id, :name,
                                                         {include_blank: true}, {class: "form-control"} %>
                  <%= attendance.hidden_field :overtime_status, value: "申請中" %>
                  <%= attendance.hidden_field :overtime_approval, value: 2 %>
                  <%= attendance.hidden_field :overtime_check, value: "0" %></td>
             </tr>
            </tbody>
          </table>
          <%= f.submit "変更を更新する", class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
            <% break %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
      
