<% provide(:title, 'Location') %>


  <div class="content">
    <div class="header">
      <h1 class="title">拠点一覧</h1>
    </div>
    <div class="row">
      <div class="collaps">
        <%= link_to "拠点追加", user_locations_path(current_user), method: :post, class: "btn btn-primary" %>
      </div>
      
      <table class="table table-bordered table-hover col-md-12" id="table-users">
        
        <thead>
            <th colspan = 2 ></th>
            <th>拠点番号</th>
            <th>拠点名</th>
            <th>勤怠種類</th>
          </tr>
        </thead>
        <tbody>
        <% @locations.each do |l| %>
        <tr>
          <td>
            <%= link_to "拠点編集", edit_user_location_path(current_user,l.id), remote: true, class: "btn btn-success" %>
          </td>
          <td>
           <%= link_to "削除", user_location_path(current_user, l), method: :delete,
            data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          </td>
          <td><%= l.id %></td>
          <td><%= l.location_name %></td>
          <td><%= l.location_type %></td>
        </tr>
         <% end %>
        </tbody>
      </table>
  </div>
  
  <div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
